<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Feria Virtual Administrador">
	<meta name="author" content="Ecubytes">

	<title>@ViewData["Title"] - Crecer - Feria Virtual</title>

	<link rel="shortcut icon" href="~/img/favicon.ico">

	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet" />
	<link href="~/css/dark.css" rel="stylesheet" id="theme-stylesheet" />
	<link href="~/css/custom.css" rel="stylesheet" />	

</head>

<body data-theme="default" data-layout="fluid" data-sidebar-position="left" data-sidebar-behavior="sticky">

	<div class="wrapper">

		<partial name="_Menu"></partial>

		<div class="main">
			<nav class="navbar navbar-expand navbar-light navbar-bg">
				<a class="sidebar-toggle">
					<i class="hamburger align-self-center"></i>
				</a>
				@*
					<form class="d-none d-sm-inline-block">
					<div class="input-group input-group-navbar">
					<input type="text" class="form-control" placeholder="Search projects…" aria-label="Search">
					<button class="btn" type="button">
					<i class="align-middle" data-feather="search"></i>
					</button>
					</div>
					</form> *@



				<div class="navbar-collapse collapse">
					<ul class="navbar-nav navbar-align">

						<li class="nav-item dropdown">
							<a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#"
								data-bs-toggle="dropdown">
								<i class="align-middle" data-feather="settings"></i>
							</a>

							<a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#"
								data-bs-toggle="dropdown">
								@* <img src="img/avatars/avatar.jpg" class="avatar img-fluid rounded-circle me-1"
									alt="Chris Wood" /> *@
								<span class="text-dark">@User.Identity.Name</span>
							</a>
							<div class="dropdown-menu dropdown-menu-end">
								<a class="dropdown-item" asp-action="Profile" asp-controller="Account"><i class="align-middle me-1"
										data-feather="user"></i>Cambiar Contraseña</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" asp-action="SignOut" asp-controller="Account">Cerrar Sesión</a>
							</div>
						</li>
					</ul>
				</div>
			</nav>

			<main class="content">
				<div class="container-fluid p-0">

					<div class="row mb-2 mb-xl-3">
						<div class="col-auto d-none d-sm-block">
							<h3>@ViewBag.Title</h3>
						</div>
						<div class="col-auto ms-auto text-end mt-n1">
							@RenderSection("TopLeftArea",false)
						</div>
					</div>

					@RenderBody()

				</div>
			</main>

			<footer class="footer">
				<div class="container-fluid">
					<div class="row text-muted">
						@* <div class="col-6 text-start">
							<ul class="list-inline">
							<li class="list-inline-item">
							<a class="text-muted" href="#">Support</a>
							</li>
							<li class="list-inline-item">
							<a class="text-muted" href="#">Help Center</a>
							</li>
							<li class="list-inline-item">
							<a class="text-muted" href="#">Privacy</a>
							</li>
							<li class="list-inline-item">
							<a class="text-muted" href="#">Terms of Service</a>
							</li>
							</ul>
							</div> *@
						<div class="col-6 text-end">
							<p class="mb-0">
								&copy; @DateTime.Now.Year - ECUBYTES
							</p>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</div>
	<script src="~/js/app.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>

</html>